# Database Configuration URL
# DATABASE_URL=mysql://user:password@localhost:3306/dbname

# MySQL Database Credentials
# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=root
# DB_PASSWORD=your_password
# DB_NAME=flutterx
